<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home - My Project{% endblock %}

{% block content %}
    <div>
        <h2 style="color: rgb(248, 237, 176);font-size: 35px;">Welcome to Rail Control Communications!<h2>
        <p style="color: rgb(248, 237, 176); font-size: 35px;">
Analyzing railway communications data and detect unusual or suspicious patterns <br> to enhance the safety, reliability, and cybersecurity of rail control systems
        </p>
    </div>
{% endblock %}
